<launch>

<arg name="uav_name" default="firefly" />
<arg name="world_name" default="stage_4" />
<arg name="dll_init_pos_x" default="14" />
    <arg name="dll_init_pos_y" default="16" />
    <arg name="dll_init_pos_z" default="0.8" />
    <arg name="dll_init_pos_th" default="3.1415" />


<group ns="$(arg uav_name)">
  
  ## UAV Lidar Odometry Stuff
        <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_uav_dll" output="screen" 
            args="0 marsupial_launchers dll_drone_simulation.launch robot_name:=$(arg uav_name) map:=$(arg world_name) 
            initial_x:=$(arg dll_init_pos_x) initial_y:=$(arg dll_init_pos_y) initial_z:=$(arg dll_init_pos_z) initial_a:=$(arg dll_init_pos_th) ">
        </node>

</group>
        
</launch>