<launch>

    <arg name="uav_name" default="firefly" /> 

    <group ns="$(arg uav_name)">
        <node pkg="rotors_joy_interface" type="joy_vel" name="joy_vel_$(arg uav_name)" respawn="true" output="screen">
            <param name="max_vel_x" value="1.0" /> 
            <param name="max_vel_y" value="1.0" /> 
            <param name="max_yaw_rate" value="1.0" /> 
            <param name="axis_vel_y_" value="3" />
            <param name="axis_vel_x_" value="4" />
        </node>
    </group>

</launch>
