<launch>

    <arg name="ugv_name" default="arco"/>
    <arg name="uav_name" default="firefly"/>
    <arg name="able_frames_ugv" default="true"/>
    <arg name="able_frames_uav" default="true"/>

    ## General TFs    
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_world" args="0.0 -0.0 -0.0 0.0 -0.0 0.0  world  map 10"/>  -->

    ## UGV TFs
    <group if="$(arg able_frames_ugv)">
        <group ns="$(arg ugv_name)">    
            <node pkg="tf" type="static_transform_publisher" name="tf_$(arg ugv_name)_imu" args="0.0 0.0 0.1 0.0 0.0 0.0  $(arg ugv_name)/base_link  $(arg ugv_name)/imu 30"/>
            <node pkg="tf" type="static_transform_publisher" name="tf_$(arg ugv_name)_os1" args="0.1 0.0 0.1 0.0 0.0 0.0  $(arg ugv_name)/base_link  $(arg ugv_name)/os1_sensor 10"/>      
        </group>
    </group>

    ## UAV TFs
    <group if="$(arg able_frames_uav)">
        <group ns="$(arg uav_name)">
            <node pkg="tf" type="static_transform_publisher" name="tf_$(arg uav_name)_imu" args="0.0 0.0 0.004645 0.0 0.0 0.0   $(arg uav_name)/base_link  $(arg uav_name)/imu 30"/>
            <node pkg="tf" type="static_transform_publisher" name="tf_$(arg uav_name)_os1" args="0.0 0.0 -0.004645 0.0 0.0 0.0  $(arg uav_name)/base_link  $(arg uav_name)/os1_sensor 10"/>    
            <node pkg="tf" type="static_transform_publisher" name="tf_$(arg uav_name)_lidar" args="0 0.0 0.03618 3.1416 0.0 0.0 $(arg uav_name)/os1_sensor $(arg uav_name)/os1_lidar 10"/>  
        </group>
    </group>

</launch>