<launch>

    <param name="use_sim_time" value="true"/>
    <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(find marsupial_simulator)/models:$(find marsupial_simulator)/models/sensors:$(find marsupial_simulator)/worlds/:$(find marsupial_simulator)/models/ctu_cras_norlab_x500_sensor_config_2/meshes/"/>

    <arg name="ugv_able" default="true" />
    <arg name="uav_able" default="false" />
   
    # --------------------------------------------------------------------- PARAMETER --------------------------------------------------------------------- 
    ## Parameter
    <arg name="world_name" default="teatro"/>
    <arg name="model" default="marsupial/marsupial.sdf"/>
    <arg name="uav_name" default="x500" />
    <arg name="ugv_name" default="arco" />
    #UGV Parameter Define real/simulation and controller type
    <arg name="simulation" value="true" />                                  <!-- Define if it will run on a robot or simulation -->
    # scenario_1    18.0 4.0 0.3 3.1415
    # scenario_5    14.0 16.0 0.4 3.1415
    # thermal_central    52.53 , 27.37 , 3.53 , 0 
    # rellano45 -12.5 3.5 0.02 -2.59
    # Teatro First -2.06 -6.6 0.05 1.0692
    # Teatro Short mission -3.7921 -8.7014 -0.0185 1.6090 UAVrespectTOmarsupial:= 2.71 -2.39 0.25 0 0 1.55

    # --------------------------------------------------------------------- NODES --------------------------------------------------------------------- 
    
    # ---------------------------------------------------Start Gazebo environment ---------------------------------------------------
    # Node regarding with World
    <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
        <arg name="ign_args" value="-r -v 4 $(find marsupial_simulator)/worlds/$(arg world_name).world"/>
        <env name="IGN_GAZEBO_RESOURCE_PATH" value="$(optenv IGN_GAZEBO_RESOURCE_PATH):$(find marsupial_simulator)/models:$(find marsupial_simulator)/models/sensors:$(find marsupial_simulator)/worlds/"/>
    </include>

     # Spawn the node. IMPORTANT: the world name must be the same as the filename of the world file

    <arg name="x_pos" default="-3.9821" /> #For Teatro ShortMission
    <arg name="y_pos" default="-9.1014" />
    <arg name="z_pos" default="-0.0185" />
    <arg name="y_rot" default="1.6090" />

    <node
        pkg="ros_ign_gazebo"
        type="create"
        name="marsupial_spawn"
        output="screen"
        args="-world $(arg world_name) -file $(find marsupial_simulator)/models/$(arg model) -name marsupial -allow_renaming true -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg y_rot) --timeout 100000 ">
    </node>

    # node provides a network bridge which enables the exchange of messages between ROS and Gazebo Transport
        ## args: declare inf. about mesage to exchange (format: name_topic@type_ros_msgs@type_ign_gazebo_msgs )
    <node
        pkg="ros_ign_bridge"
        type="parameter_bridge"
        name="$(anon ros_ign_bridge)"
        output="screen"
        args="
            /world/$(arg world_name)/pose/info@tf2_msgs/TFMessage@ignition.msgs.Pose_V
            /clock@rosgraph_msgs/Clock@ignition.msgs.Clock  

            /arco/os1_cloud_node/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked 
            /arco/imu@sensor_msgs/Imu@ignition.msgs.IMU
            /arco/idmind_motors/set_velocities@geometry_msgs/Twist@ignition.msgs.Twist 
            /arco/odometry@nav_msgs/Odometry@ignition.msgs.Odometry
            /arco/tf_odom_to_baselink@tf2_msgs/TFMessage@ignition.msgs.Pose_V

            /x500/os1_cloud_node/points@sensor_msgs/PointCloud2@ignition.msgs.PointCloudPacked
            /x500/imu@sensor_msgs/Imu@ignition.msgs.IMU
            /x500/navsat@sensor_msgs/NavSatFix@ignition.msgs.NavSat
            /model/x500/odometry@nav_msgs/Odometry@ignition.msgs.Odometry
            /x500/gazebo/command/motor_speed@mav_msgs/Actuators@ignition.msgs.Actuators
            /x500/tf_odom_to_baselink@tf2_msgs/TFMessage@ignition.msgs.Pose_V
            ">
            <!-- /x500/gazebo/command/twist@geometry_msgs/Twist@ignition.msgs.Twist -->

             
            <!--/gt@tf2_msgs/TFMessage@ignition.msgs.Pose_V
            /world/default/model/arco/joint_state@sensor_msgs/JointState@ignition.msgs.Model
            /model/arco/front_right/tf@tf2_msgs/TFMessage@ignition.msgs.Pose_V -->
        <remap from="/arco/tf_odom_to_baselink" to ="/tf"/>   #Publish odom tf 
        <remap from="/x500/tf_odom_to_baselink" to ="/tf"/>   #Publish odom tf 
        <!-- <remap from="/gt" to ="/tf"/> -->
        <!-- <remap from="/world/default/model/arco/joint_state" to="/joint_states" /> -->
        <remap from="/x500/gazebo/command/motor_speed" to="/command/motor_speed" />
        <remap from="/x500/os1_cloud_node/points" to="/os1_cloud_node/points_non_dense" />
        <remap from="/x500/imu"  to="/dji_sdk/imu" />
        <remap from="/x500/navsat" to="/dji_sdk/gps_position" />
        <remap from="/model/x500/odometry" to="/dji_sdk/odom"/>
        <remap from="/arco/os1_cloud_node/points" to="/arco_os1_cloud_node/points_non_dense" />
        <remap from="/arco/imu" to="/arco/idmind_imu/imu" />
        <remap from="/arco/odometry" to="/arco/odom" />
    </node>

    <node pkg="marsupial_simulator" type="ign_clock_publisher" name="ign_clock_publisher"/>

    # --------------------------------------------------- UGV Simulation ---------------------------------------------------

    <include file="$(find marsupial_launchers)/arco_launch/frames_arco.launch" if="$(arg ugv_able)"/>

    # Start Diagnostics Aggreagator
    <!-- <include file="$(find idmind_diagnostics)/launch/idmind_diagnostics.launch" /> -->

    # Otherwise initiate sensors
    <!-- <group unless="$(arg simulation)">
        <include file="$(find idmind_imu)/launch/idmind_imu.launch">
            <arg name="imu" value="razor" />
            <arg name="tf_prefix" value="$(arg robot_name)/" />
        </include>
    </group> -->
        
    # Start sensors and actuators nodes
    <!-- <include file="$(find idmind_sensorsboard)/launch/idmind_sensorsboard.launch" if="$(arg ugv_able)">
        <arg name="simulation" value="$(arg simulation)" />
    </include> -->

    # Start interface node
    <include file="$(find idmind_interface)/launch/idmind_interface.launch" if="$(arg ugv_able)"/>
    
    # Start idmind_teleop
    <include file="$(find idmind_teleop)/launch/idmind_teleop.launch" if="$(arg ugv_able)">
        <!-- <arg name="cmd_vel_topic" default="$(arg ugv_name)/idmind_motors/set_velocities" /> -->
        <arg name="cmd_vel_topic" default="/$(arg ugv_name)/cmd_vel_joy" />
    </include>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_ugv_dll" output="screen"
            args="10 marsupial_launchers dll_arco.launch imu_topic:=/arco/idmind_imu/imu in_cloud_topic:=/arco_os1_cloud_node/points_non_dense map:=$(arg world_name)" 
            if="$(arg ugv_able)">
    </node>

    <rosparam command="load" file="$(find marsupial_simulator)/cfg/twist_mux.yaml" ns="$(arg ugv_name)/twist_mux"/>
    <rosparam command="load" file="$(find marsupial_simulator)/cfg/locks_mux.yaml" ns="$(arg ugv_name)/twist_mux"/>
    <group ns="$(arg ugv_name)">   
        <node pkg="twist_mux" type="twist_mux" name="twist_mux">
            <remap from="cmd_vel_out" to="idmind_motors/set_velocities"/>
        </node>
    </group>

    # --------------------------------------------------- UAV Simulation ---------------------------------------------------

    <include file="$(find marsupial_launchers)/drone_launch/frames.launch" if="$(arg uav_able)"/>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="timed_uav_dll" output="screen"
            args="15 marsupial_launchers dll.launch imu_topic:=/dji_sdk/imu in_cloud_topic:=/os1_cloud_node/points_non_dense  map:=$(arg world_name)" 
            if="$(arg uav_able)">
    </node>

    ## UAV Control Stuff
    <node name="roll_pitch_yawrate_thrust_controller_node" pkg="quadrotor_ign_controller" type="roll_pitch_yawrate_thrust_controller_node" output="screen" if="$(arg uav_able)">
        <rosparam command="load" file="$(find quadrotor_ign_controller)/resources/roll_pitch_yawrate_thrust_controller_dji.yaml" />
        <rosparam command="load" file="$(find quadrotor_ign_controller)/resources/dji.yaml"/>
        <remap from="/odometry" to="/dji_sdk/odom"/> # /laser_odom_to_init" loam
    </node>

    <node name="velocity_PID_controller" pkg="quadrotor_ign_controller" type="velocity_PID_controller" output="screen" if="$(arg uav_able)">
        <remap from="odom" to="/dji_sdk/odom"/> 
    </node>

     ## UAV Joy Stuff
    <node pkg="joy" type="joy_node" name="joy_node_$(arg uav_name)" respawn="true" if="$(arg uav_able)">
        <param name="dev" type="string" value="/dev/input/js1" /> 
        <param name="deadzone" value="0.12" />
        <remap from="/joy" to="/dji_sdk/rc"/> 
    </node>

    <node pkg="quadrotor_joy_interface" type="joy_vel" name="joy_interface_$(arg uav_name)" respawn="true" if="$(arg uav_able)">
        <param name="max_vel_x" value="1.0" /> 
        <param name="max_vel_y" value="1.0" /> 
        <param name="max_yaw_rate" value="1.0" /> 
        <param name="axis_vel_y_" value="3" /> #axes x for node joy
        <param name="axis_vel_x_" value="4" /> #axes y for node joy
        <remap from="/joy" to="/joy_$(arg uav_name)"/> 
    </node>

</launch>