<launch>

    <arg name="uav_name" default="firefly"/>
    <arg name="able_frames_uav" default="true"/>

    ## General TFs    
    <!-- <node pkg="tf" type="static_transform_publisher" name="tf_world" args="0.0 -0.0 -0.0 0.0 -0.0 0.0  world  map 10"/>  -->

    ## UAV TFs
    <group if="$(arg able_frames_uav)">
        <group ns="$(arg uav_name)">
            <node pkg="tf2_ros" type="static_transform_publisher" name="tf_$(arg uav_name)_imu" args="0 0 0.1 0 0 0 $(arg uav_name)/base_link  $(arg uav_name)/imu"/>
            <node pkg="tf2_ros" type="static_transform_publisher" name="tf_$(arg uav_name)_os1" args="0.1 0 0.1 0 0 0 $(arg uav_name)/base_link  /marsupial/ctu_cras_norlab_x500_sensor_config_1/base_link/front_laser"/>  
        </group>
    </group>

</launch>